# Week 2: Introduction to Python

This notebook covers the fundamental concepts of Python programming, including how to run Python code, basic data types, variables, operators, strings, booleans, input/output, comments, and reading errors, as well as some exercices that you should be able to do.

## Values & types

Python has several built-in data types:

*   **Numbers:** Integers (`int`), floating-point numbers (`float`), complex numbers (`complex`).
*   **Strings:** Sequences of characters (`str`).
*   **Booleans:** Truth values (`True` or `False`).

Literals are fixed values written directly in the code (e.g., `5`, `"hello"`), while runtime values are determined during program execution.

In [6]:
# Examples of values and types
print(type(10))
print(type(3.14))
print(type("Hello, world!"))
print(type(True))
print(6==7)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
False

### Exercices:

In [1]:
# Print your name in this cell.
print("Taha Chniber")

Taha Chniber

In [2]:
# Print the type of your favorite number
print(type(7))

<class 'int'>

In [7]:
# Print the type of your favorite dish
print(type("pasta"))

<class 'str'>

In [8]:
# Print how tall are you, as well as the type of that value
x=1.81
print(x)
print(type(x))

1.81
<class 'float'>

In [9]:
# Print whether you like programming, and next to it the type of that value
print ("i like programing")
print (type("i like programing"))

i like programing
<class 'str'>

In [10]:
# Given the text "5", print the type name before and after converting to int.
print (type("5"))
x=int("5")
print (type(x))

<class 'str'>
<class 'int'>

In [1]:
# Fill the TODOs. All asserts should pass.

# 2.1: Make x_int an int equal to 100
x_int = 100          # TODO

# 2.2: Make x_float a float equal to 2.5
x_float = 2.5        # TODO

# 2.3: Make x_str the string 'Python'
x_str = "Python"          # TODO

# 2.4: Make x_bool the boolean False
x_bool = False        # TODO

# 2.5: Convert the string '123' to an int, add 7, store to x_num
x_num = int('123') + 7          # TODO

# 2.6: What is the type of 3/2 ? What about 3//2 ?
type_div = type(3/2)       # TODO
type_floordiv = type(3//2)  # TODO

# 2.7: Create x_runtime by reading type of x_str at runtime
x_runtime = type(x_str)      # TODO

# 2.8: Make x_truthy a value that is truthy, and x_falsy a value that is falsy (but not bools)
x_truthy = "hello"       # TODO
x_falsy = ""        # TODO

In [12]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert isinstance(x_int, int) and x_int == 100
assert isinstance(x_float, float) and abs(x_float - 2.5) < 1e-9
assert isinstance(x_str, str) and x_str == "Python"
assert isinstance(x_bool, bool) and x_bool is False
assert x_num == 130
assert type_div.__name__ in {"float"}  # in Python 3, / returns float
assert type_floordiv.__name__ in {"int"}
assert x_runtime is str
assert x_truthy and (not x_falsy)

## Variables & names

Variables are used to store data. They are assigned using the `=` operator. Variable names must follow certain rules and conventions (e.g., start with a letter or underscore, use lowercase for variables). Scope refers to the region of the code where a variable is accessible.

In [13]:
# Variable assignment
my_integer = 10
my_string = "Python"
my_boolean = False

# print(my_integer)
# print(my_string)
# print(my_boolean)

### Exercices:

In [14]:
# Create a variable, and set your name in it. Then, print the value, and print the type of the value
my_name = "Taha"
print (my_name)
print(type(my_name))

Taha
<class 'str'>

In [15]:
# Create and assign the favorite_food variable to hold your own favorite food, then print the variable.
favorite_food = "pasta"
print(favorite_food)

pasta

In [1]:
# Create and assign the variable favorite_number to hold your own favorite number.
favorite_number = 7
print(favorite_number)

7

In [17]:
# Reassign the favorite_food variable to hold the number 7.
favorite_food = 7
print(favorite_food)

# What happens and why? Does this match your expectations?
# it reasigns the value 7 to the variable 'favorite_food' then prints the new assigned value opf favorite_food

7

In [3]:
# Print a value that is truthy (but not True) and a value that is falsy (but not False),
# one per line.
# Expected output example (your exact truthy/falsy may differ but should print visibly):
truthy = ""
falsy  = 'no'
print(truthy)
print (falsy)
if truthy:
    print(5)

no

In [ ]:
# Exercises — fill TODOs and pass the checks.

# 3.1: Create variables 'width' and 'height' with 7 and 3, compute 'area'.
width = 7    # TODO
height = 3   # TODO
area = height*width      # TODO
# 3.2: Rename bad variable names to PEP 8 style (do the binding)    
numStudents = 25  # given (bad style)
num_students  = 25                 # TODO: PEP8 name
# 3.3: Swap a and b so that after swapping: a==2, b==1
a, b = 1, 2
a, b = 2, 1     # TODO

# 3.4: Multiple assignment:
x = y = z = 42 # TODO

In [11]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert area == 21
assert a == 2 and b == 1
assert x == y == z == 42

## Numbers operations

Python supports various arithmetic and bitwise operations on numbers.

In [21]:
# Arithmetic operations
a = 30
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

# Bitwise operations
x = 5 # 0101 in binary
y = 3 # 0011 in binary
print(x | y) # Bitwise OR
print(x & y) # Bitwise AND
print(x ^ y) # Bitwise XOR
print(~x)  # Bitwise NOT
print(x << 1) # Left shift
print(x >> 1) # Right shift

33
27
90
10.0
10
0
7
1
6
-6
10
2

### Exercices:

In [22]:
# Multiply 3.4 by 8.2. What's the data-type that this returns?
print(3.4*8.2)
print(type(3.4*8.2))

27.879999999999995
<class 'float'>

In [23]:
# Give the reminder of dividing 5 by 2
print(5%2)

1

In [24]:
# Use the exponent operator to raise 123 to the 0th power
print(123**0)

1

In [12]:
# Give the integer result of dividing 5 by 2
print(5//2)

2

In [4]:
# Let n=57. Using bitwise '&', print True if n is odd, else False.
n=57
print(n & 1 == 1)

True

In [7]:
q = 0b101101  # 45
low3 = q & 0b111              # TODO -> 0b101 (5)
print(bin(low3))

0b101

In [ ]:
# 4.1: Integer division and modulo
div_1 = 25/5             # TODO -> should get a a result of 5
mod_1 =  100%7           # TODO -> should get a result of 2

# 4.2: Power and order of operations
pow_1 = 2**5             # TODO -> should get a result of 32
expr_1 = 7*2          # TODO -> should get a resulst of 14

# 4.3: Parity: is_odd should be True if n is odd using bitwise &
n = 57
is_odd = (n & 1 ==1)             # TODO

# 4.4: Masking: take low 3 bits of q
q = 0b101101  # 45
low3 = q & 0b111              # TODO -> 0b101 (5)

# 4.5: Set the 2nd bit (value 0b010) of base without changing others
base = 0b1001
with_second_bit = base | 0b0010   # TODO

# 4.6: Toggle the lowest bit of t (use xor)
t = 0b1110
t_toggled = t ^ 1         # TODO

# 4.7: Left shift multiply by 4 using <<
u = 7
u_times_4 = u << 2         # TODO

# 4.8: Right shift divide by 2 using >>
v = 19
v_div_2 = v >> 1           # TODO (floor division by 2)

In [6]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert div_1 == 5 and mod_1 == 2
assert pow_1 == 32 and expr_1 == 14
assert is_odd is True
assert low3 == 0b101
assert with_second_bit == 0b1011
assert t_toggled == 0b1111
assert u_times_4 == 28 and v_div_2 == 9

## Strings

Strings are sequences of characters and can be manipulated using slicing, methods, and f-strings.

In [36]:
# String slicing and methods
my_string = "Hello, Python!"
print(my_string[0:5])
print(my_string.upper())
print(my_string.replace("Python", "World"))

# f-strings
name = "Alice"
age = 30
print(f"My name is {name} and I am {age} years old.")

Hello
HELLO, PYTHON!
Hello, World!
My name is Alice and I am 30 years old.

What you should be familiar with:

**Slicing** `s[start:stop:step]`  
**Useful methods**: `.lower()`, `.upper()`, `.split()`, `.join()`, `.replace()`, `.find()`, `.count()`  
**f‑strings**: `name = "Ada"; f"Hello {name}"`

### Exercices

In [1]:
# Print True if the sentence below is a palindrome ignoring case and non-letters/digits:
# "A man, a plan, a canal: Panama!"
# Tip: build a cleaned string with only .isalnum() characters and .lower(), then compare to its reverse

In [27]:
s = "ABCDEFGHIJ"

# 5.1: First 4 characters -> 'ABCD'
slice1 = s[:4]    # TODO

# 5.2: Last 3 characters -> 'HIJ'
slice2 = s[-3:]         # TODO

# 5.3: Every other character -> 'ACEGI'
slice3 = s[::2]         # TODO

# 5.4: Reverse the string
rev_s = s[::-1] 
print(rev_s)        # TODO

JIHGFEDCBA

In [ ]:
s = "ABCDEFGHIJ"

# 5.1: First 4 characters -> 'ABCD'
slice1 = s[:4]    # TODO

# 5.2: Last 3 characters -> 'HIJ'
slice2 = s[-3:]         # TODO

# 5.3: Every other character -> 'ACEGI'
slice3 = s[::2]         # TODO

# 5.4: Reverse the string
rev_s = s[::-1]         # TODO

# Methods
phrase = "PyThOn is AwEsOmE"

# 5.5: Transform the string into uppercase to 'PYTHON IS AWESOME'
norm_uppercase = phrase.upper()  # TODO

# 5.6: Transform the string into lowercase to 'python is awesome'
norm_lowercase = phrase.lower()   # TODO

# 5.7: How many 'an' in 'bananana'? -> 3
count_an = "bananana".count("an")        # TODO

# 5.8: Replace 'snake' with 'Python' in 'I love snake case'
replaced = "I love snake case".replace("snake", "Python")      # TODO

# f‑strings
first, last, year = "Ada", "Lovelace", 1815
# 5.9: Make id_card -> "Ada Lovelace (1815)" with the help of f-string
id_card = f"{first} {last} ({year})"        # TODO

# 5.10: Format pi ~= 3.14159 to two decimals -> '3.14' (use f‑string formatting)
pi = 3.14159
pi_two =f"{pi:.2f}"          # TODO

# 5.11: Extract username and domain from email 'user@example.com' -> 'user', 'example.com'
email = "user@example.com"
user_name = email.split("@")[0]      # TODO
domain = email.split("@")[1]         # TODO

# 5.12: Build CSV 'a,b,c' from list ['a','b','c'] using join
csv =  ",".join(['a','b','c'])           # TODO

# 5.13: Remove empty spaces at the edges of string
s = "    check this out          "
fixed_s = s.strip()        # TODO

In [30]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert slice1 == "ABCD"
assert slice2 == "HIJ"
assert slice3 == "ACEGI"
assert rev_s == "JIHGFEDCBA"
assert norm_uppercase == "PYTHON IS AWESOME"
assert norm_lowercase == "python is awesome"
assert count_an == 3
assert replaced == "I love Python case"
assert id_card == "Ada Lovelace (1815)"
assert pi_two == "3.14"
assert user_name == "user" and domain == "example.com"
assert csv == "a,b,c"
assert fixed_s == "check this out"

### Reading docs effectively
Use `help(str.split)` and skim:
- What does `split()` return?
- What happens if you pass a `maxsplit`?
Write your notes in a new **markdown cell** below.

## Booleans & comparisons

Booleans represent truth values (`True` or `False`). Comparisons return boolean values. Logical operators (`and`, `or`, `not`) combine boolean expressions.

In [24]:
# Comparisons
x = 10
y = 20
print(x == y)
print(x != y)
print(x < y)

# Logical operators
p = True
q = False
print(p and q)
print(p or q)
print(not p)

False
True
True
False
True
False

### Exercices:

In [50]:
# 6.1: is_between: make sure to compare it between two value, one lower and one higher
x = 15
is_between = x > 10 and x < 20                # TODO -> It should return true

# 6.2: True if name starts with 'A' (case‑sensitive)
name = "Alice"
starts_with_A = name.startswith('A')             # TODO

# 6.3: True if s is empty or only whitespace
s = "   "
empty_or_ws = s.strip() == ""               # TODO

# 6.4: Use 'and'/'or': adult_or_student True if age >= 18 or has_student_id
age, has_student_id = 16, True
adult_or_student = (age >= 18) or has_student_id          # TODO

# 6.5: not operator: not_rain if forecast is 'rain'
forecast = "sun"
not_rain = (forecast != "rain")                   # TODO

# 6.6: Build is_leap_year rule (Gregorian): divisible by 4 except centuries not divisible by 400
year = 2000
is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)                # TODO

In [51]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert is_between is True
assert starts_with_A is True
assert empty_or_ws is True
assert adult_or_student is True
assert not_rain is True
assert is_leap_year is True

## Input / output

The `input()` function reads input from the user, and the `print()` function displays output.

In [52]:
# Input and output
# user_input = input("Enter something: ")
# print("You entered:", user_input)

print("Hello", "world", sep="-", end="!\n")

Hello-world!

### Exercices:

In [55]:
# 7.1: Ask for user first name and last name, then greet him.
first_name = input("Enter your first name: ")  
last_name = input("Enter your last name: ")     
print(f"Hello, {first_name} {last_name}!")

Hello, Taha Chniber!

In [56]:
# 7.2: Ask for two integers and print their sum (formatted "Sum: <value>")
a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
print(f"Sum: {a + b}")

Sum: 164

In [58]:
# 7.3: Write a program to take three names as input from the user in a single call to the input() function.
names = input("Enter three names separated by spaces: ")
name1, name2, name3 = names.split()
print(f"Name 1: {name1}")
print(f"Name 2: {name2}")
print(f"Name 3: {name3}")

Name 1: taha
Name 2: taha
Name 3: taha

In [13]:
# 7.4: Read three integers on one line separated by spaces.
# Print: count, sum, and average (with 2 decimals) in three lines.
input_line = input("Enter three integers separated by spaces: ")
a = int(input_line.split())
b = int(input_line.split())
c = int(input_line.split())
nums = a, b, c
count = len(nums)
total_sum = sum(nums)
average = total_sum / count
print(f"Count: {count}")
print(f"Sum: {total_sum}")
print(f"Average: {average:.2f}")

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [5]:
# 7.4: Read three integers on one line separated by spaces.
# Print: count, sum, and average (with 2 decimals) in three lines.
input_line = input("Enter three integers separated by spaces: ")
nums = list(map(int, input_line.split()))
count = len(nums)
total_sum = sum(nums)
average = total_sum / count
print(f"Count: {count}")
print(f"Sum: {total_sum}")
print(f"Average: {average:.2f}")

Count: 3
Sum: 46
Average: 15.33

In [62]:
# 7.5: Without input, prepare formatting examples.

# Format temperature with 1 decimal: "Temp: 21.5 C"
temp = 21.49
fmt_temp = f"Temp: {temp:.1f} C"                    # TODO

# Align and width: name right‑align in width 10 -> '     Bob'
name = "Bob"
right_aligned =  f"{name:>10}"              # TODO

# Pad number with zeros width=5 -> '00042'
num = 42
zero_padded = f"{num:05d}"                  # TODO

In [63]:
# DO NOT CHANGE THIS CODE, RUN IT AND MAKE SURE IT PASSES ALL ASSERTS
assert fmt_temp == "Temp: 21.5 C"
assert right_aligned.endswith("Bob") and len(right_aligned) == 10
assert zero_padded == "00042"

## Comments & style

Comments are used to explain code. Python uses `#` for single-line comments. PEP 8 is a style guide for Python code that promotes readability and consistency.

In [31]:
# This is a comment

def my_function():
  """This is a docstring for a function."""
  pass

### Exercices:

In [32]:
# Make sure to write a program that respects the PEP 8 style guide
#-----------------------------
# A shopkeeper decides to start selling milk for a price of 5 dhs, and he bought a quantity of 140 bottles for a price of 4 dhs each.
# How much money did he earn from selling 92% of the quantity?
milk_price = 5
bought_quantity = 140
buy_price = 4
# TODO: Calculate the number of bottles sold (92% of 140)
sold_quantity = int(bought_quantity * 0.92)
# TODO: Calculate the total earnings from selling the bottles
Total_earnings = sold_quantity * milk_price
# TODO: Print the total earnings
print(f"Total earnings: {Total_earnings} dhs")

Total earnings: 640 dhs

In [33]:
# Based on what shopkeeper earned earlier, how much profit did he make?
milk_price = 5
bought_quantity = 140
buy_price = 4
sold_quantity = int(bought_quantity * 0.92)
total_earnings = sold_quantity * milk_price

total_cost = bought_quantity * buy_price
profit = total_earnings - total_cost

print(f"Total profit: {profit} dhs")

Total profit: 80 dhs

## Reading errors

Tracebacks provide information about errors that occur during program execution, including the file name, line number, and error type.

### Exercices:

In [ ]:
# Give an example of where you will get an `NameError` error:
print(taha) # type: ignore

NameError: name 'taha' is not defined

In [76]:
# Give an example when you will get an `TypeError` error:
print ("taha" + 7)

TypeError: can only concatenate str (not "int") to str

In [77]:
# Give an example when you will get an `ZeroDivisionError` error:
print(7/0)

ZeroDivisionError: division by zero



------

## Bonus:

In [7]:
# This exercise will test your understanding of variables, data types, operators, strings, booleans, input/output, and comments.

# 1. Use input() to ask the user for their first name, last name, and age. Store these in appropriate variables.
#    Make sure to convert the age to an integer.
# TODO: Get user input
first_name = input('enter you first name:')
last_name = input('enter your last name:')
age = int(input('enter your age:'))
print(f'Your  name is {first_name} {last_name} and your age is {age}')
# Here we first crerate three variables to store the values inputed by the user for his first and last name and age

# 2. Create a boolean variable called 'is_adult' that is True if the user's age is 18 or older, and False otherwise.
# TODO: Determine if the user is an adult
is_adult = True if age >= 18 else False
# Here we check for the age of the user by using an if else loop using the age variable we created earlier we check if it is greater than or equal to 18 then print true or false depending on the age 



# 3. Create a string variable called 'full_name' by combining the first and last names using an f-string.
# TODO: Create full name
full_name = f"{first_name} {last_name}"
# here we make a new variable that combines the first and last name variables into one full name variable




# 4. Use an f-string to print a message to the user.
#    If the user is an adult, the message should say: "Hello, [full name]! You are [age] years old and an adult."
#    If the user is not an adult, the message should say: "Hello, [full name]! You are [age] years old and not yet an adult."
# TODO: Print personalized greeting
if is_adult == True :
    print(f"Hello, {full_name}! You are {age} years old and an adult.")
else :
    print(f"Hello, {full_name}! You are {age} years old and not yet an adult.")
# Here we use the previous function that checks for age > 18 to print using f strings a sentence with the age and if they are adukt or not 

# 5. Use arithmetic operators to calculate the user's age in dog years (assume 1 human year = 7 dog years). Store this in a variable called 'dog_years'.
# TODO: Calculate age in dog years
dog_years = age * 7
# Here we take the age and multiply it by 7 to make a new variablr to calculate the dog years 



# 6. Print the user's age in dog years using a formatted string (you can choose the formatting).
# TODO: Print age in dog years
print(f'Your age in dog years is {dog_years} ')
# Here we print the a formated sentence with the dog years variable

# 7. Add comments to your code to explain each step.
# TODO: Add comments
# YOUR CODE HERE

# 8. (Optional Challenge) Ask the user for their favorite number and perform a bitwise operation on it (e.g., left shift by 2). Print the result.
# TODO: Optional - bitwise operation
favorite_number = int(input("What is your favorite number: "))
shifted_number = favorite_number << 2
print(f"Your favorite number left shifted by 2 is: {shifted_number}")

Your  name is k k and your age is 9
Hello, k k! You are 9 years old and not yet an adult.
Your age in dog years is 63
Your favorite number left shifted by 2 is: 32

In [8]:
# This problem involves taking user input, manipulating strings, and performing a simple calculation.

# 1. Ask the user to enter a sentence.
# TODO: Get sentence input
# YOUR CODE HERE

# 2. Count the number of words in the sentence. Assume words are separated by spaces.
# TODO: Count words
# YOUR CODE HERE

# 3. Ask the user for a single character.
# TODO: Get character input
# YOUR CODE HERE

# 4. Count how many times that character appears in the sentence (case-insensitive).
# TODO: Count character occurrences
# YOUR CODE HERE

# 5. Print the number of words and the character count in a formatted string.
# TODO: Print results
# YOUR CODE HERE

In [9]:
# This problem requires you to combine multiple concepts from the lecture, including:
# - Input/output
# - Variables and data types (integers, strings, booleans)
# - String methods and formatting
# - Comparisons and boolean logic
# - Potentially arithmetic or bitwise operations

# Scenario: You are writing a program to validate user input for a simple online form.

# 1. Ask the user for their email address.
# TODO: Get email input
# YOUR CODE HERE

# 2. Validate the email address:
#    - It must contain exactly one '@' symbol.
#    - It must contain at least one '.' after the '@' symbol.
#    - It cannot start or end with '@' or '.'.
#    - Use boolean variables to store the results of each validation step.
# TODO: Validate email
# YOUR CODE HERE

# 3. Ask the user for a password.
# TODO: Get password input
# YOUR CODE HERE

# 4. Validate the password:
#    - It must be at least 8 characters long.
#    - It must contain at least one uppercase letter, one lowercase letter, and one digit.
#    - Use boolean variables for each validation step.
# TODO: Validate password
# YOUR CODE HERE

# 5. Based on the validation results, print a message indicating whether the email and password are valid.
#    - If both are valid, print: "Registration successful!"
#    - If only the email is invalid, print: "Invalid email address."
#    - If only the password is invalid, print: "Invalid password."
#    - If both are invalid, print: "Invalid email address and password."
#    - Use boolean logic (and, or, not) to determine the appropriate message.
# TODO: Print validation result
# YOUR CODE HERE

# 6. (Optional Challenge) Add more password validation rules (e.g., no common passwords, no repeating characters).
# TODO: Optional - more password rules
# YOUR CODE HERE